body {
  background-color: #F9ECCC;
  color: #4C6B62;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}

.outer {
  width: 100%;
  overflow-x: auto;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: max-content;
  margin: 0 auto;
}

.card {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  min-width: 250px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-right: 16px;
  margin-bottom: 16px;
}

.card h2 {
  font-size: 20px;
  margin-bottom: 8px;
  text-align: center;
}

.settings {
  margin-bottom:16px;
  background-color: rgba(0,100,0,0.1);
  padding: 16px;
  border-radius: 8px;
}

label {
  display: flex;
  margin-bottom: 8px;
}

input {
  margin-inline: 8px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  width: 100%;
  padding: 10px;
  background: #4C6B62;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #3a544e;
}

.results p {
  font-size: 18px;
  margin: 6px 0;
}

.basic {
  color: #2A3C37;
}

.costs {
  color: #80600F;
}

.booms {
  color: #863234;
}

.results h2:not(:first-of-type) {
  margin-top: 20px;
}

.results canvas {
  display: block;
  margin-top: 8px;
  margin-bottom: 24px;
}